.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    transition: all 2s ease-in-out;
    h3{
        font-size: 40px;
    }
    p{
        color: rgb(227, 226, 226);
        font-size: 14px;
    }
    h5{
        letter-spacing: 5px;
    }
}
.height{
    height: 500px !important;
}
.weather-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 400px;
    flex-direction: column;
    div{
        flex: 1;
        width: 100%;
    }
}

.weather-div-right{
    text-align: end;
}
.other{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 100%;
    div{
        display: flex;
        gap: 10px;
    }
}
.img {
    text-align: center;
    img{
        width: 120px;
    }
}
.forecast{
    overflow: scroll;
    text-align: center;
    width: 100%;
}
.forecast-div{
    display: flex;
    gap: 10px;
}
.forecast-day{
    width: 140px;
    background: #0000001c;
    padding: 10px;
    border-radius: 20px;
    h4{
        font-size:10px;
    }
}

@media (max-width: 480px){
    h5{
        letter-spacing: 0;
    }
    .other{
        flex-direction: column;
    }
}