*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    background: url(./assets/images/pexels-brett-sayles-1431822.jpg ) no-repeat center center fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}